html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.schitte-nav {
  background-color: #dddddd;
  text-align: center;
}

.schitte-nav-logo {
  content:url("https://schitte.github.io/Logo Long.png");
  max-width: 60vw;
  max-height: 30vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.schitte-nav-title {
  text-align: center;
}

.schitte-nav-buttons {
}

.schitte-nav-button {
  font-family: Roboto;
  font-size: 1.5em;
  background-color: #ffffff;
  color: #5B3305;
  border: none;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
}

.schitte-nav-button:hover {
  background-color: #f1f1f1;
  box-shadow: 0px 4px 2px;
  
}

.schitte-app-button {
  font-family: Roboto;
  font-size: 1.2em;
  background-color: #5B3305;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
}

.schitte-app-button:hover {
  background-color: #9b5608;
  box-shadow: 0px 4px 2px;
}

.schitte-gallery {
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
}

.schitte-gallery-item {
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  width: 25vw;
  margin-left: 2px;
  margin-right: 2px;
}

.schitte-gallery-img {
  width: 25vw;
}

.schitte-gallery-overlay {
  position: absolute;
  width: 25vw;
  cursor: pointer;
}

.schitte-center {
  text-align: center;
}
